.profile {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00b4d8;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.profile:hover {
  transform: scale(1.1) rotate(2deg);
}
